<table id="my_table">
<thead><tr><th>Tên</th><th>Ngày Sinh</th><th>Tháng Sinh</th><th>Năm Sinh</th></tr>
</thead>
<tbody>
<tr><td>Nguyễn Ngọc Hương Sen</td><td>15</td><td>5</td><td>1990</td></tr><tr><td>Trần Thiện Khiêm</td><td>4</td><td>12</td><td>2013</td></tr><tr><td>Nguyễn Bính</td><td>15</td><td>9</td><td>1978</td></tr><tr><td>Nguyen Ngoc</td><td>15</td><td>5</td><td>1990</td></tr><tr><td>Le Tat Chuong</td><td>20</td><td>8</td><td>2002</td></tr><tr><td>Tran Trinh</td><td>20</td><td>9</td><td>2004</td></tr><tr><td>Takis</td><td>17</td><td>10</td><td>1973</td></tr><tr><td>Trần Thanh Trúc </td><td>11</td><td>10</td><td>1982</td></tr><tr><td>Trần Thanh Trúc</td><td>11</td><td>10</td><td>1982</td></tr>
</tbody>
</table>